:host >>> .ui-card{
    background-color: #fff;
    border-bottom: 1px;
    box-shadow: 3px 3px 3px 3px #ececec;
    width:450px;
    margin-top: 5%;
    border-radius: 10px;  
    position: relative; 
}
:host >>>  .ui-button{
    background: #274991;
 
}
:host >>> .manda .ui-inputtext{
    border:1px solid #970b0b;
}
.bdyDiv{   
  
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
}
.divcol{
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    color: #8898bb;
}
.divsing{
    width: 50%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #2957b9;
    
}
.divRem{
    color: #5f79af;
    width: 50%;
    margin: 0 auto;
}
.lblotp{
    font-size: 9px;
    text-decoration-line: underline;
}
.dupLink{
    cursor: pointer;
    color: #116fbf;
}