.tblHLbl {
    color: #143983 !important;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize ;
}

.tblLbl {
    color: #143983;
    font-size: 13px;
}
.actbtn{
    font-size: 9px;
}

.detailOverFlow{
    height: 50px;
    text-decoration: dotted;
    overflow: hidden;
    display: inline-block;
}
.ghint{
    font-size: 9px;
    color: lightslategray;
}