
<p-scrollPanel [style]="{height:'55vh'}">
    <p-table #dtb [value]="myConsents" selectionMode="single" 
    [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
    [dataKey]="'reqId'"
    [globalFilterFields]="['reqId','beneficiary.beId','beneficiary.beName','remarks']"
    [(selection)]="selectedConsent" dataKey="refNo" (onRowSelect)="onRowSelect()">
        <ng-template pTemplate="caption">
            <div class="p-grid">
                <div class="p-col-7 tblHLbl">
                    <div style="text-align: right">                                
                        <input type="text" pInputText size="40" placeholder="Global Filter"                                 
                               (input)="dtb.filterGlobal($event.target.value, 'contains')" 
                               style="width:auto">
                    </div>

                </div>
                <div class="p-col-5" style="text-align: right">
                    <button pButton type="button" label="New Consent Request" icon="pi pi-plus"
                        (click)="reqNewConsent()"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr >
                <th class="tblHLbl">Ref:No#</th>
                <th class="tblHLbl" [pSortableColumn]="'reqCreated_on'">
                    Req:Date 
                    <p-sortIcon [field]="'reqCreated_on'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>  
                <th class="tblHLbl" style="width: 45%;"> Detail</th>                
                <th class="tblHLbl" [pSortableColumn]="'status'">
                    Status
                    <p-sortIcon [field]="'status'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>  
                <th style="width: 3em;"></th>
                <th style="width: 3em;"></th>             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dm>
            <tr [pSelectableRow]="dm">
                <td class="tblLbl">
                    {{dm.reqId}}
                </td>
                <td class="tblLbl">{{dm.reqCreated_on | date}}</td>                
                <td class="tblLbl " style="width: 45%;">
                    <span class="detailOverFlow"><b>{{ dm.beneficiary.beId}}- ({{dm.beneficiary.beName}})</b><br/>{{dm.remarks}}
                    </span>
                    </td>
                <td class="tblLbl">{{dm.status}}</td>
                <td style="width: 2em;">
                    <button pButton  class="actbtn" icon="pi pi-trash" type="button" 
                    (click)="onDelete(dm)"></button>
                </td>
                <td style="width: 2em;">
                    <button pButton  class="actbtn" icon="pi pi-pencil" type="button" (click)="onEdit(dm)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-scrollPanel>

<p-dialog [(visible)]="visibleDlg" (onHide)="visibleDlg=false;"  *ngIf="selectedConsent" 
[style]="{width:'40vw'}" [maximizable]="true">
    <p-header>Consent Request</p-header>
    <div class="p-grid">
        <div class="p-col-2 tblHLbl">Reff #:</div>
        <div class="p-col-10">
            <b>{{reffNo}}</b>
        </div>
        <div class="p-col-2 tblHLbl">Beneficiary</div>
        <div class="p-col-10">
            <input type="text" pInputText size="30" required="true" maxlength="50" [(ngModel)]="selectedConsent.beneficiary.beId"
            [placeholder]="'You can scan beneficiary QR-Code using your mobileApp'"
            />
            <p class="ghint">You can scan beneficiary QR-Code using your mobileApp </p>
        </div>
        <div class="p-col-2 tblHLbl">Access from:</div>
        <div class="p-col-10">
            <p-calendar [inline]="false" [ngModel]="selectedConsent.access_statrdt" dateFormat="dd/M/yy"></p-calendar>
        </div>
        <div class="p-col-2 tblHLbl">Remark:</div>
        <div class="p-col-10">
            <textarea pInputTextarea [rows]="5" [required]="true" [cols]="30" [(ngModel)]="selectedConsent.remarks"></textarea>
        </div>
    </div>
  
        <p-footer>
     
            <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" (click)="blDlgSave()"
                label="Save">
            </button>
            <button pButton type="button" class="ui-button-secondary" (click)="blDlgCancel()" icon="pi pi-times"
                label="Cancel"></button>
        </p-footer>
</p-dialog>
-->