.tblHLbl {
    color: #143983 !important;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize ;
}

.tblLbl {
    color: #143983;
    font-size: 13px;
}