.tblHLbl {
    color: #143983;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.tblLblptr {
    color: #143983;
    font-size: 13px;
}
.hint{
    color: cornflowerblue;
    font-size: 11px;
}