<p-table [value]="mediFullFillments" [scrollable]="true" selectionMode="single" 
         dataKey="pid" [(selection)]="selectedphr"
         [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption" >
        <div class="tblHLbl">Active Prescriptions</div>
    </ng-template>
    <ng-template pTemplate="header" >
        <tr>
            <th style="width: 3em"></th>
            <th style="width: 15%;">                
                <div class="tblLblptr">Medicine
                <p-sortIcon [field]="'Medicine'"></p-sortIcon>
                </div>            
            </th>            
            <th><div class="tblLblptr">Start Date</div></th>
            <th><div class="tblLblptr">End Date</div></th>
            <th><div class="tblLblptr">Last Refill</div></th>
            <th><div class="tblLblptr">Next Refill</div></th>
            <th><div class="tblLblptr">No:Of Refills</div></th>
            <th style="width: 35%;"><div class="tblLblptr">%Completion</div></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td style="width: 3em">
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td style="width: 15%;">
                {{rowData['medi']['med']['medname']}}
            </td>
            <td>
                {{rowData['medi']['startDate']| date }}
            </td>
            <td>
                <span *ngIf="rowData['medi']['numberOfdays']>0">  {{rowData['medi']['endDate']| date }}</span>
                <span *ngIf="rowData['medi']['numberOfdays']<1"> N/A</span>

            </td>
            <td>
                {{rowData['fullFillsmry']['lastRefill'] | date }}
            </td>
            <td>
                {{rowData['fullFillsmry']['nextRefill'] | date }}
            </td>
            <td>
                {{rowData['fullFillsmry']['totalNoRefill']  }}
                <i class="pi pi-window-maximize spacarund hower" 
                (click)="onDisplayRefillDet(rowData)"></i>
            </td>
            <td style="width: 35%;"><p-progressBar [value]="rowData['fullFillsmry']['fullfillpercentage']"></p-progressBar></td>
        </tr>
    </ng-template>    
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]=8>

                <div class="p-grid">
                    <div class="p-col-6">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-4 tblHLbl">
                                Priscribed By:
                            </div>                            
                            <div class="p-col-8 tblLblptr">
                                {{rowData['medi']['prescribedBy']}}
                            </div>
                            <div class="p-col-4 tblHLbl">
                                Medicine Type:
                            </div>                            
                            <div class="p-col-8 tblLblptr" >
                                <span *ngIf="rowData['medi']['medType']==='C'">Capsule</span>
                                <span *ngIf="rowData['medi']['medType']==='I'">Injection</span>
                                <span *ngIf="rowData['medi']['medType']==='O'">Oilment</span>
                                <span *ngIf="rowData['medi']['medType']==='T'">Trip</span>
                            </div>
                            <div class="p-col-4 tblHLbl">
                                Dose:
                            </div>                            
                            <div class="p-col-8 tblLblptr">
                                {{rowData['medi']['morningQty']}}-{{rowData['medi']['afternoongQty']}}-{{rowData['medi']['eveninggQty']}}
                            </div>

                            <div class="p-col-4 tblHLbl">
                                Note:
                            </div>                            
                            <div class="p-col-8 tblLblptr">
                                {{rowData['medi']['medNotes']}}
                            </div>   
                        </div>
                    </p-card>
                    </div>
                    <div class="p-col-6">
                        <p-card>
                            <div class="p-grid">
                                <div class="p-col-4 tblHLbl">
                                    Total Qty:
                                </div>                            
                                <div class="p-col-8 tblLblptr">
                                    {{rowData['fullFillsmry']['totalQty']}}
                                </div>
                                <div class="p-col-4 tblHLbl">
                                    Completed Qty:
                                </div>                            
                                <div class="p-col-8 tblLblptr">
                                    {{rowData['fullFillsmry']['fullfilledQty']}}
                                </div> 
                                <div class="p-col-4 tblHLbl">
                                    Balance Qty:
                                </div>                            
                                <div class="p-col-8 tblLblptr">
                                    {{rowData['fullFillsmry']['balanceQty']}}
                                </div> 
                                <div class="p-col-4 tblHLbl">
                                   Refill Inprogress
                                </div>                            
                                <div class="p-col-8 tblLblptr">
                                    0
                                </div>   
                            </div>
                        </p-card>
                        </div>
                </div>
            </td>
            </tr>
    </ng-template>
    </p-table>
    <p-dialog header="Refill Details" 
     (onHide)="displayRefillDet=false"   [style]="{width: '60vw'}"
    [modal]="true" [(visible)]="displayRefillDet" >
        <p-table [value]="selectedphr.fullFillDetails" [paginator]="false" [rows]="5" 
        [responsive]="true" *ngIf="displayRefillDet" >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Refill Dt:</th>
                    <th>Refill From:</th>
                    <th>Refill Qty</th>
                    <th>Refill Amnt</th>
                </tr>
            </ng-template>
            <ng-template let-rowData pTemplate="body" >
                <tr>
                    <td>{{rowData.purchase_dt |date}}</td>
                    <td>{{rowData.fullfilledBy}}</td>
                    <td>{{rowData.purchaseQty}}</td>
                    <td>{{rowData.purchaseAmnt}}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-footer>
            <button type="button" pButton icon="pi pi-times" (click)="displayRefillDet=false;selectedphr=null;"
            label="Close"></button>
        </p-footer>
    </p-dialog>