.chat{

padding: 10px;
border: 2px solid #a6f1d0;
border-radius: 15px;
-moz-border-radius: 15px;
background-color: #e2f6f1;
height: 80vh;
}
.chatAct{
    border: 2px solid #cdc8c8;
    border-radius: 10px;
    background-color: #d7d7d7;
    height: 115%;
    padding-top: 5px;
    margin-top: 1px;
}
.mycmnt{
    background-color: #ffffff;
    text-align: left;
    margin: 5px;
    margin-right: 25px;
    line-height:2;
    border-radius: 5px;
}
.thermnt{
    text-align: right;
    background-color: lightblue;
    margin: 5px;
    margin-left: 25px;
    line-height:2;
    border-radius: 5px;
}