<div class="bdy">

    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-card>
                <p-table [value]="bpData" [(first)]="bpfirst" [scrollable]="true" [rows]='5' [paginator]="true"  [(first)]="bpfirst"
                [contextMenu]="cm"  [(contextMenuSelection)]="newBpData" (onRowSelect)="latestTblItm='BP'"
                selectionMode="single" [(selection)]="newBpData" dataKey="ehrId" scrollHeight="200px;">
                    <ng-template pTemplate="caption">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-chevron-left" style="margin-right:.5em"
                                    (click)="prev('BP')" [disabled]="isFirstPage('BP')"></button>
                            </div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-refresh"
                                    (click)="reset('BP')" style="margin-right:.5em"></button></div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-chevron-right"
                                    (click)="next('BP')" [disabled]="isLastPage('BP')"></button>
                            </div>
                            <div class="p-col-3 tblHLbl">Blood Press:</div>
                            <div class="p-col-2" style="text-align: right">
                                <button pButton type="button" label="Add" icon="pi pi-plus" (click)="addNewData('BP')"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="tblHLbl" >
                            <th class="tblHLbl" style="width: 25%;"> Sys</th>
                            <th class="tblHLbl" style="width: 25%;">Dias</th>
                            <th class="tblHLbl">Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr class="tblLbl" [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                            <td class="tblLbl" style="width: 25%;">{{rowData.syst}}</td>
                            <td class="tblLbl" style="width: 25%;">{{rowData.dias}}</td>
                            <td class="tblLbl">{{rowData['auditData']['created_on']|date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-card>
                <p-table [value]="diaData" [(first)]="diafirst" [paginator]="true"  [scrollable]="true" [rows]='5'
                [contextMenu]="cm"  [(contextMenuSelection)]="newDiaData"  (onRowSelect)="latestTblItm='BS'"
                selectionMode="single" [(selection)]="newDiaData" dataKey="ehrId" scrollHeight="200px;">
                    <ng-template pTemplate="caption">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-chevron-left" style="margin-right:.5em"
                                    (click)="prev('BS')" [disabled]="isFirstPage('BS')"></button>
                            </div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-refresh"
                                    (click)="reset('BS')" style="margin-right:.5em"></button></div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-chevron-right"
                                    (click)="next('BS')" [disabled]="isLastPage('BS')"></button>
                            </div>
                            <div class="p-col-3 tblHLbl">Blood Sugar</div>
                            <div class="p-col-2" style="text-align: right">
                                <button pButton type="button" label="Add" (click)="addNewData('BS')" icon="pi pi-plus"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="tblHLbl">
                            <th class="tblHLbl" style="width: 30%;">Befo: Food</th>
                            <th class="tblHLbl" style="width: 30%;">Afte: Food</th>
                            <th class="tblHLbl">Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData"  [pContextMenuRow]="rowData">
                            <td class="tblLbl" style="width: 30%;">{{rowData.bf}}</td>
                            <td class="tblLbl" style="width: 30%;">{{rowData.af}}</td>
                            <td class="tblLbl">{{rowData['auditData']['created_on']|date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-card>
                <p-table [value]="tempoxyData" [(first)]="toxyfirst" [paginator]="true"  [scrollable]="true" [rows]='5'
                [contextMenu]="cm"  [(contextMenuSelection)]="newTempoxyData"  (onRowSelect)="latestTblItm='TO'"
                selectionMode="single" [(selection)]="newTempoxyData" dataKey="ehrId" scrollHeight="200px;">
                    <ng-template pTemplate="caption">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-chevron-left" style="margin-right:.5em"
                                    (click)="prev('TO')" [disabled]="isFirstPage('TO')"></button>
                            </div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-refresh"
                                    (click)="reset('TO')" style="margin-right:.5em"></button></div>
                            <div class="p-col-2"><button type="button" pButton icon="pi pi-chevron-right"
                                    (click)="next('TO')" [disabled]="isLastPage('TO')"></button>
                            </div>
                            <div class="p-col-3 tblHLbl">Temp: Pulse Oxy</div>
                            <div class="p-col-2" style="text-align: right">
                                <button pButton type="button" label="Add" (click)="addNewData('TO')" icon="pi pi-plus"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="tblHLbl">
                            <th class="tblHLbl">Pulse</th>
                            <th class="tblHLbl">Temp:</th>
                            <th class="tblHLbl">Saturaiton</th>
                            <th class="tblHLbl" style="width: 35%;">Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData"  [pContextMenuRow]="rowData">
                            <td class="tblLbl">{{rowData.pulsepersec}}</td>
                            <td class="tblLbl">{{rowData.temp}}</td>
                            <td class="tblLbl">{{rowData.oxireading}}</td>
                            <td class="tblLbl" style="width: 35%;">{{rowData['auditData']['created_on']|date}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <p-card>
                <p-panel>
                    <p-header class="tblHLbl">
                        Other Records
                    </p-header>
                    <div class="grp">
                        <p-dropdown [options]="otherOpts" [(ngModel)]="selectedOpts" placeholder="Select a Category"
                            (onChange)="onSelectOthrOpt()" [group]="true" class="grpitem">

                        </p-dropdown>
                    </div>
                </p-panel>
            </p-card>
        </div>
        <div class="p-col-12">
            <p-card *ngIf="selectedOpts">
                <p-table [value]="otherEhrs" [columns]="cols" [(first)]="oefirst" [scrollable]="true" [paginator]="true" 
                [contextMenu]="cm"  [(contextMenuSelection)]="newOtherEhr"   (onRowSelect)="latestTblItm='OE'"
                selectionMode="single" [(selection)]="newOtherEhr" dataKey="ehrId"
                    scrollHeight="200px;" [rows]='10'>
                    <ng-template pTemplate="caption">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <button type="button" pButton icon="pi pi-chevron-left" style="margin-right:.5em"
                                    (click)="prev('OE')" [disabled]="isFirstPage('OE')"></button>
                                <button type="button" pButton icon="pi pi-refresh" (click)="reset('OE')"
                                    style="margin-right:.5em"></button>
                                <button type="button" pButton icon="pi pi-chevron-right" (click)="next('OE')"
                                    [disabled]="isLastPage('OE')"></button>
                            </div>
                            <div class="p-col-3 tblHLbl">{{selectedOpts}}</div>
                            <div class="p-col-2" style="text-align: right">
                                <button pButton type="button" label="Add" icon="pi pi-plus"  (click)="addNewData('OE')"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr class="tblHLbl">
                            <th class="tblHLbl" *ngFor="let col of columns">
                                {{col}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData"  [pContextMenuRow]="rowData">
                            <td class="tblLbl" *ngFor="let col of cols">{{rowData.dataValue.get(col)}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog header="Blood Pressure" [(visible)]="bpDlg"  [responsive]="true" showEffect="fade" 
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [dismissableMask]="true" [style]="{width: '25vw'}"
    *ngIf="newBpData" >
    <div class="p-grid" >
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Diastolic : </label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newBpData.dias">
        </div>
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Systolic :</label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newBpData.syst">
        </div>
    </div>
    <p-footer>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-secondary" 
           (click)="blDlgDelete('BP')" label="Delete">
        </button>
        <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" 
           (click)="blDlgSave('BP')" label="Save">
        </button>
        <button pButton type="button" class="ui-button-secondary"
        (click)="blDlgCancel('BP')"
        icon="pi pi-times" label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Blood Sugar" [(visible)]="bpDlg"  [responsive]="true" showEffect="fade" 
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [dismissableMask]="true" [style]="{width: '25vw'}"
    *ngIf="newDiaData" >
    <div class="p-grid" >
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Before Food : </label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newDiaData.af">
        </div>
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">After Food :</label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newDiaData.bf">
        </div>
    </div>
    <p-footer>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-secondary" 
           (click)="blDlgDelete('BS')" label="Delete">
        </button>
        <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" 
           (click)="blDlgSave('BS')" label="Save">
        </button>
        <button pButton type="button" class="ui-button-secondary"
        (click)="blDlgCancel('BS')"
        icon="pi pi-times" label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Others" [(visible)]="bpDlg"  [responsive]="true" showEffect="fade" 
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [dismissableMask]="true" [style]="{width: '25vw'}"
    *ngIf="newTempoxyData" >
    <div class="p-grid" >
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Pulse/sec : </label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newTempoxyData.pulsepersec">
        </div>
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Saturation :</label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newTempoxyData.oxireading">
        </div>
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">Temparature :</label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText [(ngModel)]="newTempoxyData.temp">
        </div>
    </div>
    <p-footer>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-secondary" 
           (click)="blDlgDelete('TO')" label="Delete">
        </button>
        <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" 
           (click)="blDlgSave('TO')" label="Save">
        </button>
        <button pButton type="button" class="ui-button-secondary"
        (click)="blDlgCancel('TO')"
        icon="pi pi-times" label="Cancel"></button>
    </p-footer>
</p-dialog>
<p-dialog header="Others EHRs" [(visible)]="bpDlg"  [responsive]="true" showEffect="fade" 
    [draggable]="false" [resizable]="false" [closeOnEscape]="true" [dismissableMask]="true" [style]="{width: '25vw'}"
    *ngIf="newOtherEhr" >
    <div class="p-grid" >
        <div *ngFor="let col of cols">               
        <div class="p-col-4">
            <label for="float-input" class="tblHLbl">{{col}} </label>
        </div>
        <div class="p-col-8">
            <input id="float-input" type="text" size="5" pInputText
            [ngModel]="newOtherEhr.dataValue.get(col)" (ngModelChange)="newOtherEhr.dataValue.set(col, $event)">
        </div>
    </div>
    </div>
    <p-footer>
        <button pButton type="button" icon="pi pi-trash" class="ui-button-secondary" 
           (click)="blDlgDelete('OE')" label="Delete">
        </button>
        <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" 
           (click)="blDlgSave('OE')" label="Save">
        </button>
        <button pButton type="button" class="ui-button-secondary"
        (click)="blDlgCancel('OE')"
        icon="pi pi-times" label="Cancel"></button>
    </p-footer>
</p-dialog>