<p-scrollPanel [style]="{height:'55vh'}">
    <p-table [value]="reviewDetails" [style]="{height:'50vh'}" selectionMode="single" 
    [(selection)]="selectedReviewDetails" dataKey="refNo" (onRowSelect)="onReviewRowSelect()">
        <ng-template pTemplate="caption">
            <div class="p-grid">
                <div class="p-col-10 tblHLbl">Patient Review Record</div>
                <div class="p-col-2" style="text-align: right">
                    <button pButton type="button" label="Add" icon="pi pi-plus"
                        (click)="addNewReviewData()"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr>
                <th class="tblHLbl">Ref:No#</th>
                <th class="tblHLbl">Review Date</th>
                <th class="tblHLbl" style="width: 55%;">Desc </th>  
                <th style="width: 3em;"></th>
                <th style="width: 3em;"></th>             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dm    >
            <tr [pSelectableRow]="dm">
                <td class="tblLbl">
                    <li class="pi pi-star" *ngIf="selectedReviewDetails &&(dm.refNo===selectedReviewDetails.refNo)"></li>
                    {{dm.refNo}}
                </td>
                <td class="tblLbl">{{dm.lastReviewDate| date:'short'}}</td>
                <td class="tblLbl" style="width: 55%;">{{dm.desc}}</td>
                <td style="width: 2em;">
                    <button pButton  class="actbtn" icon="pi pi-trash" type="button" 
                    (click)="onDelete(dm)"></button>
                </td>
                <td style="width: 2em;">
                    <button pButton  class="actbtn" icon="pi pi-pencil" type="button" (click)="onEdit(dm)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-scrollPanel>
