.serch{
    border: 2px;
    padding: 10px;;
}
:host >>> .serch .ui-fieldset-legend{
    font-size: smaller;

}

:host ::ng-deep .ui-multiselect-label{
min-width: 175px;
}
:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
    width: max-content;
}

:host ::ng-deep .ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}

:host ::ng-deep .ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}
.seltype{
    width: 50px;
}

.tblHLbl {
    color: #143983;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

.tblLbl {
    color: #143983;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.dlgdspace{
    padding-top: 18px;
}



