<div class="serch">
<p-toast></p-toast>
    <p-card>
        <p-fieldset [collapsed]="true" [toggleable]="true">
            <p-header class="tblHLbl"> Search Consent(s)</p-header>
            <div class="p-grid forms-grid p-justify-start">

                <div class="p-col-12 p-md-4">
                    <span class="ui-float-label">
                        <p-calendar id="float-dtrang" [(ngModel)]="search_dtrange" selectionMode="range"
                            showButtonBar="true" readonlyInput="true" class="tblLbl"></p-calendar>
                        <label class="tblHLbl" for="float-dtrang">Consent Created between</label>
                    </span>
                </div>
                <div class="p-col-12 p-md-4">
                    <span class="ui-float-label">
                        <p-chips id="float-tag" [(ngModel)]="cosnt_tag" separator="," class="tblLbl"></p-chips>
                        <label class="tblHLbl" for="float-tag">Consent Tag</label>
                    </span>
                </div>
                <div class="p-col-12 p-md-4">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText class="tblLbl">
                        <label for="float-input" class="tblHLbl">Assignee Name</label>
                    </span>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="tblHLbl">Cons: Type</div>
                    <p-multiSelect [options]="cosnt_type" class="tblLbl"></p-multiSelect>
                </div>

                <div class="p-col-12 p-md-4">
                    <div class="tblHLbl">Visibility Type</div>
                    <p-multiSelect class="seltype" [options]="cosnt_cat_type"></p-multiSelect>
                </div>
                <div class="p-col-12 p-md-12">
                    <div class="p-grid p-justify-end">
                        <div>
                            <p-button icon="pi pi-search" type="submit" label="Search"></p-button>
                        </div>
                    </div>

                </div>
            </div>
        </p-fieldset>

        <p-dataView #dv [value]="cosnts" [paginator]="true" [rows]="10" paginatorPosition="both"
            filterBy="cosnt_name,cosnt_assignee">

            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-4">
                            <!--p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" 
                    (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}">p-dropdown -->
                        </div>
                        <div class="p-col-6 p-md-4 filter-container">
                            <div style="position:relative">
                                <input type="search" pInputText placeholder="Search by Name/Assignee"
                                    (input)="dv.filter($event.target.value)">
                            </div>
                        </div>
                        <div class="p-col-6 p-md-4" style="text-align:right">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </div>
            </p-header>

            <ng-template let-cnst pTemplate="listItem">
                <div class="p-col-12">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-3">
                                <div class="p-grid">
                                    <div class="p-col-12 tblLbl">Consent Name: <b class="tblLbl">{{cnst.cosnt_name}}</b>
                                    </div>
                                    <div class="p-col-12 tblLbl">Created: <b class="tblLbl">{{cnst.created}}</b></div>
                                    <div class="p-col-12 tblLbl">Assignee: <b class="tblLbl">{{cnst.cosnt_assignee}}</b>
                                    </div>
                                    <div class="p-col-12 tblLbl">Consent Type:
                                        <b class="tblLbl">{{cnst.cosnt_type}}</b>
                                    </div>
                                </div>
                            </div>
                            <div class="p-col-6 tblLbl">
                                <b> Notes:</b><br />{{cnst.remarks}}
                            </div>
                            <div class="p-col-3">
                                <button pButton class="ui-button-secondary" icon="pi pi-fw pi-pencil"
                                    (click)="editSelectConsent($event, cnst)" label="Edit"></button>
                                <br /><br />
                                <button pButton class="ui-button-secondary" icon="pi pi-search"
                                    (click)="selectConsent($event, cnst)" label="Details">
                                </button>
                                <br /><br />
                                <p-button icon="pi pi-trash" (click)="selectConsent($event, cnst)" label="Revoke">
                                </p-button>
                            </div>
                        </div>
                    </p-card>
                </div>
            </ng-template>
            <ng-template let-cnst pTemplate="gridItem">
                <div style="padding:.5em" class="p-col-12 p-md-3">
                    <p-panel>

                        <p-header>

                            <div class="ui-helper-clearfix tblHLbl">
                                Cosnent Name - {{cnst.cosnt_name}}
                            </div>
                        </p-header>
                        <div class="p-grid tblLbl">
                            <div class="p-col-12 ">Assignee: <b>{{cnst.cosnt_assignee}}</b></div>
                            <div class="p-col-12">Consent Type: <b>{{cnst.cosnt_type}}</b></div>
                            <div class="p-col-12">Created: <b>{{cnst.created}}</b></div>
                        </div>
                        <p-footer>
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <button pButton class="ui-button-secondary" icon="pi pi-search"
                                        (click)="selectConsent($event, cnst)" label="Detail"></button>
                                </div>
                                <div class="p-col-6">
                                    <p-button icon="pi pi-trash" (click)="selectConsent($event, cnst)" label="Revoke">
                                    </p-button>
                                </div>
                            </div>
                        </p-footer>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>

        <p-dialog header="Consent Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
            [modal]="true" [closeOnEscape]="true" *ngIf="selectedCons" [dismissableMask]="true"
            [style]="{width: '325px'}" (onAfterHide)="onDialogHide($event)">

            <div class="ui-g tblLbl">
                <div class="ui-g-4 tblHLbl">Cons Validity : </div>
                <div class="ui-g-8">{{selectedCons.validity}}<sub>.{{selectedCons.validity_unit}}</sub></div>
                <div class="ui-g-4 tblHLbl">EHR Categories: </div>
                <div class="ui-g-8">{{selectedCons.cosnted_ehr}}</div>
                <div class="ui-g-4 tblHLbl">Consent Tags : </div>
                <div class="ui-g-8">{{selectedCons.cosnt_tag}}</div>
                <div class="ui-g-4 tblHLbl" *ngIf="selectedCons.cosnted_ehr">EHR Records : </div>
                <div class="ui-g-8" *ngIf="selectedCons.cosnted_ehr">{{selectedCons.cosnted_ehr}}</div>
                <div class="ui-g-4 tblHLbl">Consent Note : </div>
                <div class="ui-g-8">{{selectedCons.remarks}}</div>
            </div>
            <p-footer class="acbtn">
                <button pButton type="button" icon="pi pi-trash" class="ui-button-secondary" style="margin-right:10px;"
                (click)="revokeConsent()"
                    label="Revoke">
                </button>
                <button (click)="onDialogHide($event)" pButton type="button" class="ui-button-secondary"
                    label="Close"></button>
            </p-footer>
        </p-dialog>
    </p-card>
</div>

<p-dialog header="Edit Consent" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [closeOnEscape]="true" *ngIf="selectedCons" [dismissableMask]="true" [style]="{width: '325px'}"
    (onAfterHide)="onDialogHide($event)">
    <div class="ui-g">
        <div class="ui-g-12">
            <label class="tblHLbl" for="cons_name">Consent Name*</label><br />
            <input id="cons_name" type="text" pInputText [(ngModel)]="selectedCons.cosnt_name" />


        </div>
        <div class="ui-g-12">
            <label class="tblHLbl" for="cnst-validity">Expire After</label><br />
            <span>
                <input id="cnst-validity" type="text" size="4" class="tblLbl"
                    style="padding-top: 10px; padding-bottom: 0px;" pInputText [(ngModel)]="selectedCons.validity" />

                <p-dropdown [options]="valididty_unty" [(ngModel)]="selectedCons.validity_unit"></p-dropdown>
            </span>
        </div>
        <div class="ui-g-12 ">
            <label for="cnst-cat" class="tblHLbl">Consent Category*</label><br />
            <p-dropdown id="cnst-cat" [options]="cosnt_cat_type" class="tblLbl"
                [(ngModel)]="selectedCons.cosnt_cat_type">
            </p-dropdown>

        </div>
        <div class="ui-g-12 ">
            <label for="cnst-tag" class="tblHLbl">Consent Tags</label><br />
            <p-chips id="cnst-tag" class="tblLbl" [(ngModel)]="selectedCons.cosnt_tag" separator=","></p-chips>

        </div>
        <div class="ui-g-12 ">
            <label for="cnst-rem" class="tblHLbl">Consent Note</label><br />

            <textarea id="cnst-rem" class="tblLbl" pInputTextarea [(ngModel)]="selectedCons.remarks"></textarea>

        </div>
    </div>
    <p-footer class="acbtn">
        <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" style="margin-right:10px;"
            label="Save">
        </button>
        <button (click)="onDialogHide($event)" pButton type="button" class="ui-button-secondary" icon="pi pi-times"
            label="Cancel"></button>
    </p-footer>

</p-dialog>