<p-toast preventOpenDuplicates='true' modal='true'></p-toast>

<div class="p-grid " style="height: 11vh;">
    <div class="p-col-12 tblHLbl">

    </div>
    <div class="p-col-4 tblHLbl">
        Please enter/Scan Customer QR code/ID
        <div class="ui-inputgroup">
            <button pButton type="button" label="Search" (click)="selectCutomer($event)"></button>
            <p-autoComplete [(ngModel)]="customerId" [suggestions]="filteredCustomers"
                (completeMethod)="filterCustomer($event)" maxlength="15" [minLength]="1" placeholder="Select Customer "
                field="name" (onSelect)="selectCutomer($event)">
            </p-autoComplete>
        </div>
    </div>
    <div class="p-col-8" *ngIf="selectedCustomerId">
        <div class="p-grid">
            <div class="p-col-9">
                <div class="p-grid">
                    <div class="p-col-1 tblHLbl">Name </div>
                    <div class="p-col-4 tblLbl">Sample Patient </div>
                    <div class="p-col-1 tblHLbl">Age </div>
                    <div class="p-col-2 tblLbl">36 </div>
                    <div class="p-col-1 tblHLbl">Sex </div>
                    <div class="p-col-3 tblLbl">36 </div>
                    <div class="p-col-1 tblHLbl">Address </div>
                    <div class="p-col-4 tblLbl">Address Line1, State, City, </div>

                    <div class="p-col-1 tblHLbl">Mobile </div>
                    <div class="p-col-2 tblLbl">9343292332</div>
                    <div class="p-col-4 tblLbl">email@em.com</div>
                </div>
            </div>
            <div class="p-col-1">
                <img src="../../../assets//profile_pic.png" height="80%" width="60">
            </div>
            <div class="p-col-1">
                <button type="button" pButton icon="pi pi-comments" (click)="showChat(false)"
                class="ui-button-raised ui-button-rounded ui-button-info" style="width: 40px;"></button>    
            </div>
            <div class="p-col-1">
                <button type="button" pButton icon="pi pi-video" (click)="showChat(true)"
                class="ui-button-raised ui-button-rounded ui-button-success" style="width: 40px;"></button>
            </div>
        </div>
    </div>
</div>

<p-toast position="center" key="c" (onClose)="cancelSearch()" [modal]="false" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <input type="text" [(ngModel)]="phoneOTP" [ngModelOptions]="{standalone: true}" size=15> &nbsp;
            <p>{{message.detail}}</p>
        </div>
        <div class="p-grid ui-fluid">
            <div class="p-col-6">
                <button pButton type="button" icon="pi pi-check" class="ui-button-secondary ui-button-raised"
                    style="margin-right:10px;" (click)="verifyOTP()" *ngIf="verifyPhoneOTP" label="Verify">
                </button>
            </div>
            <div class="p-col-6">
                <button type="button" pButton (click)="sendOTP(true)" label="Resend OTP"
                    class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-dialog header="Chat Ref#" [(visible)]="showDlg" [focusOnShow]="false" [responsive]="true" [maximizable]="true"
    showEffect="fade" [style]="{width: '50%'}">
    <app-chatwindow [(video)]="videoFlag"></app-chatwindow>
</p-dialog>