<div>
    <p-toast preventOpenDuplicates='true' modal='true'></p-toast>
    <p-card>
        <div class="p-grid p-justify-center ">
            <div class="p-col-10 tblLblDesc" *ngIf="mnuType=='publi'">
                Select the visibility of the  Health Records details which you would like to
                share with others <b><i><u>wihtout explicit Approval</u></i></b>

            </div>                      
            <div class="p-col-10 tblLblDesc" *ngIf="mnuType=='gen'">
                Select the visibility of the  Health Records details which you would like to
                share with others <b><i><u>based on your Approval</u></i></b> on consent access
            </div>                      
            <div class="p-col-10 tblLblDesc" *ngIf="mnuType=='cust'">
                Select the visibility of the customized  Health Records details which you would like to
                assign to service provider and share with them <b><i><u>based on your Approval</u></i></b> on consent access
            </div>                      

            <div class="p-col-4" *ngFor="let typ of healthType">
                <p-card  >
                    <p-header class="tblHLbl">
                        {{typ.typeName}} Health
                    </p-header>
                    <div class="p-grid">
                
                        <div class="p-col-6" *ngFor="let typ of typ.typeOpt | keyvalue"
                            (click)="setVisibility(typ.key)">
                            <div>
                                <li class="pi pi-eye tblLbl" *ngIf="visibilty.get(typ.key)">
                                    {{typ.value}}
                                </li>
                                <li class="pi pi-eye-slash tblLbl" *ngIf="!visibilty.get(typ.key)">
                                    <span >
                                        {{typ.value}}
                                    </span>
                                </li>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </p-card>
</div>