.tblHLbl {
    color: #143983;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px #ececec;
}

.tblLblptr {
    color: #143983;
    font-size: 15px;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
}
.tblLbl {
    color: #143983;
    font-size: 15px;
}
.tblLblfile{
    color: #143983;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tblLblDesc{
    color: #143983;
    font-size: 15px;
    box-shadow: 3px 3px 3px 3px #ececec;
}
