<div class="ui-g">
    <div class="ui-g-1">
    </div>
    <div class="ui-g-3">

        <h3>
            <i class="pi pi-id-card"></i>
            Head Office
        </h3>

        <address>
            <p>PIchai software</p>
            <p>state</p>
            <p>city</p>
            <p>zip-9090909</p>
        </address>
    </div>
    <div class="ui-g-3">
        <h3>
                <i class="fas pi-phone"></i>
            Call us at 
        </h3>
        909 0909 909
        <p>(Mon to Fri 10am to 5pm)</p>
    </div>
    <div>
        <h3><i class="pi pi-envelope"></i>Mail us at</h3>
        <p><b>Sales:</b><a href="mailto:sales@mail.com?subject=SalesEnq">sales@mail.com</a></p>
        <p><b>Support:</b><a href="mailto:support@mail.com?subject=Support">support@mail.com</a></p>

    </div>
</div>