/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;color: #143983; }

::ng-deep body {
    background-color: #f0f4f5;
    color: #143983;
    height: 100%;  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pbdy{
    margin-right: 1vw;
    margin-top: 1vw;        
}
.ghint{
    font-size: 9px;
    color: lightslategray;
}