<p-toast></p-toast>
<p-card [style]="{height:'81vh'}"> 
    <p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>
</p-card>
<p-dialog header="Appointment Details" [(visible)]="showDlg" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '300px'}">    
    <div class="p-grid ui-fluid" *ngIf="selectEvent">
        <div class="p-col-4 tblHLbl">
            <label for="vin">Subject</label>
        </div>
        <div class="p-col-8 tblLbl">
            <span *ngIf="!newEvent">{{selectEvent.title}}</span>
            <input pInputText size="25" [(ngModel)]="selectEvent.title"  *ngIf="newEvent"/>
        </div>       
        <div class="p-col-4 tblHLbl">
            <label for="vin">Desc</label>
        </div>
        <div class="p-col-8 tblLbl">
            <span *ngIf="!newEvent">{{selectEvent.extendedProps.desc}}</span>
            <textarea pInputTextarea [(ngModel)]="selectEvent.extendedProps.desc" [cols]="15" *ngIf="newEvent"></textarea>            
        </div>     
   
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-trash" (click)="delete()" label="Delete" 
            *ngIf="this.selectEvent"></button>
            <button type="button" pButton icon="pi pi-times" (click)="showDlg=false;"
                label="Cancel"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save" *ngIf="newEvent"></button>
        </div>
    </p-footer>
</p-dialog>
